/* :root {
  --background-color: #e5feff;
  --text-color: #0c0d12;
  --h1: #000000;
  --h2: #0f0f11;
  --h3: #111113;
}

[data-theme='dark'] {
  --background-color: #1c1c1c;
  --text-color: #ffffff;
  --h1: #ffffff;
  --h2: #cccccc;
  --h3: #cccccc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
} */

/* styles.css */
body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  /* transition: background-color 0.3s, color 0.3s; */
}

h1 {
  color: var(--h1);
  font-size: 2em;
}

h2 {
  color: var(--h2);
  font-size: 1.5em;
}

h3 {
  color: var(--h3);
  font-size: 1.2em;
}

p {
  color: var(--text-color);
}

.display-flex {
  display: flex;
  align-items: center;

}

.align-items {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.p-2 {
  padding: 2rem;
}

.m-2 {
  margin: 2rem;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */